<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EshopServlet</servlet-name>
  	<display-name>EshopServlet</display-name>
  	<description></description>
  	<servlet-class>eshop.store.EshopServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletShop</servlet-name>
  	<display-name>ServletShop</display-name>
  	<description></description>
  	<servlet-class>eshop.servlet.ServletShop</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Servletshop</servlet-name>
  	<display-name>Servletshop</display-name>
  	<description></description>
  	<servlet-class>eshop.store.Servletshop</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShopServlet</servlet-name>
  	<display-name>ShopServlet</display-name>
  	<description></description>
  	<servlet-class>eshop.store.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EshopServlet</servlet-name>
  	<url-pattern>/EshopServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletShop</servlet-name>
  	<url-pattern>/ServletShop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Servletshop</servlet-name>
  	<url-pattern>/Servletshop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShopServlet</servlet-name>
  	<url-pattern>/ShopServlet</url-pattern>
  </servlet-mapping>
</web-app>
