.red{
	color:#e84118;
}
.green{
	color:#44bd32;
}
.navbar-default{
background: #40739e !important;	
padding: 0px 30px !important;
}
.navbar-default .navbar-nav > li > a{
color:#FFF;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#e1b12c;
}
.panel-heading{
background: aliceblue !important;
padding-left: 36px !important;
}
* {
  box-sizing: border-box;
}

#my-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

#my-table th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


#footer{
background:#40739e; 
color: #FFF; 
text-align:center;
padding: 10px 0;
}
#footer .icon-bar {
  background-color: #40739e;
  overflow: auto;
}
#footer .icon-bar a {
float: left;
width: 10%;
text-align: center;
padding: 0px 0;
transition: all 0.3s ease;
color: white;
font-size: 30px;
border-radius: 10px;
margin-left: 10px;
}

#footer .icon-bar img{
width: 34px;	
}
#footer small{
font-weight: bold;
font-family: initial;
font-size: 16px;
}
#footer .responsive {
  width: 100%;
 height: 40px;
}
@charset "UTF-8";
* {
	font-family: Amiri;
}
 .slide{
	height: 600px;
	
} 
body, container-fluid {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 20px;
	background-image: url("../img/ramiro-mendes-237525-unsplash.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}
	.mybtn{
    margin: 20px 400px ! important;
	background: green;

  	}
  	.ecrant {
  		min-height: 92.9vh;
  	
  	}
  	.navbar-nav>li>a {
  	color: #FFF !important}
