@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

body {
	background : beige;
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
	font-family : 'Montserrat', sans-serif;
}

.main {
	margin-top : -20px;
	height : 100%;
	width  : 100%;
	display : flex;
	justify-content : center;
	flex-direction : column;
	align-items : center;
	position : relative;
}

h1 {
	color: blue;
	text-align : center;
	background: white;
	border-left: 9px solid blue;
	height : 100px;
	line-height : 100px;
	width : 900px;
	font-wight : 700;
	font-size : 50px;
}
nav {
	width : 908px;
	margin-top : -20px;
	list-style : none;
	display : flex;
	justify-content : space-evenly;
	height : 50px;
	color : white;
	align-items: center;
	margin-bottom : 50px;
}
nav li {
	display : block;
	width : 50%;
	text-align : center;
	height : 50px;
	line-height: 50px;
	background : blue;
	transition : .5s;
	font-size : 18px;
	text-decoration: none;
}
nav li:nth-child(2){
	border-left : 6px solid #40AFF2;
	
}
nav li a {
	display: block;
	color : white;
	text-decoration: none;
}
nav li:hover {
	background : #050B66;
}
table {
	width : 900px;
	
}
table th {
	border : 2px solid black;
	height : 80px;
	font-size : 26px;
	font-weight : 400;
	background : #40AFF2;
	color : white;
}
table td {
	height : 45px;
	border : 2px solid black;
	padding-left : 10px;
	font-weight : 400;
	background : #DDF0FC;
}
table tr:nth-child(odd) td{
	background : #BEE3FA;
}
table td:nth-child(1) {
	font-weight : 700;
} 
marquee {
	background : black;
	color : white;
	transform : rotate(-90deg);
	position : absolute;
	left : -600px;
	width : 100%;
	height : 55px;
}
marquee p {
	border-left : 3px solid blue;
	padding : 10px 0px 10px 10px;
}

/****** addStagier *******/

form {
	width : 860px;
	border : 2px solid black;
	padding : 20px;
	text-align : center;
}
form div {
	height: 70px;
	width : 100%;
	display : flex;
}
form div input {
	flex-grow : 1;
	height : 40px;
	margin-left : 40px;
	padding-left : 10px;
	font-size : 18px;
}
form div label {
	margin-top : 10px;
	font-size : 22px;
}
form div:nth-child(2) label {
	margin-right : 35px;
}
form div:nth-child(3) label {
	margin-right : -15px;
}
form > button {
	font-size : 18px;
	padding : 10px 40px;
	height : 45px;
	width : 180px;
	transition : .8s;
	color : white;
	background : blue;
	border : 3px solid white;
}
form > button:hover {
	background : black;
	color : white;
}
