<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>mvn-test1</display-name>

  <servlet>
  	<servlet-name>HelloWorldServlet</servlet-name>
  	<servlet-class>maven_projet1.mvn_test1.HelloWorldServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>HelloWorldServlet</servlet-name>
  	<url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>

</web-app>