<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<!--       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
   </head>
   <body>
      <h1>PHARMACIE</h1>
      <h2 th:utext="${message}">..!..</h2>
       
  
          
      <a id="mag" th:href="@{/magasin}">Magasin</a>  
       <img src="https://www.gif-maniac.com/gifs/41/40619.gif" alt="Italian Trulli">
       <img alt="" src="https://www.gif-maniac.com/gifs/41/40626.gif">
       <img alt="" src="https://www.gif-maniac.com/gifs/41/40621.gif">
       <img alt="" src="https://www.gif-maniac.com/gifs/41/40618.gif">
       <img alt="" src="http://www.gifsanimes.fr/professions-gifs/professions-gifs/pharmacien/pharmacien-gifs-animes-1850111.gif"><br>
       <img alt="" src="http://www.gifsanimes.fr/professions-gifs/professions-gifs/pharmacien/pharmacien-gifs-animes-57581.gif">
       <img alt="" src="https://www.gif-maniac.com/gifs/40/40418.gif">
       <img alt="" src="https://www.gif-maniac.com/gifs/40/40425.gif">
       <img alt="" src="https://www.gif-maniac.com/gifs/40/40393.gif">
       <img alt="" src="https://www.gif-maniac.com/gifs/40/40421.gif">
       <img alt="" src="">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   </body>
    
</html>