<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Stagiare</title>
</head>
<body>

 
  <form action="http://localhost:8080/out">
    <div class="container" align="center">
       <h1>Créer un Nouveau</h1>
      <p>Veuillez rempir les champs pour votre profil</p>
      <hr>
      <label for="nom"><b>Nom : </b></label>
      <input type="text" placeholder="Entrer Nom" name="nom" ><br>

      <label for="prenom"><b>Prenom : </b></label>
      <input type="text" placeholder="Entrer Prenom" name="prenom" ><br>

      <label for="matricule"><b>Matricule : </b></label>
      <input type="text" placeholder="Entrer Matricule" name="matricule">
      
      <div class="clearfix">
        <button type="submit" class="signupbtn">Envoie</button>
      </div>
    </div>
  </form>

</body>
</html>