<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test1</servlet-name>
  	<display-name>Test1</display-name>
  	<description></description>
  	<servlet-class>com.lesson1.Test1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test2</servlet-name>
  	<display-name>Test2</display-name>
  	<description></description>
  	<servlet-class>com.lesson1.Test2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test3</servlet-name>
  	<display-name>Test3</display-name>
  	<description></description>
  	<servlet-class>com.lesson1.Test3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test4</servlet-name>
  	<display-name>Test4</display-name>
  	<description></description>
  	<servlet-class>com.lesson1.Test4</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Test1</servlet-name>
  	<url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test2</servlet-name>
  	<url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test3</servlet-name>
  	<url-pattern>/Test3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test4</servlet-name>
  	<url-pattern>/Test4</url-pattern>
  </servlet-mapping>
</web-app>
