@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	width: 100%;
	background:  #f3e6ff;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	box-sizing: border-box;
}
.main {
	height: 100%;
	width: 800px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	border: 2px solid black;
}
.main h1 {
	color: white;
	margin-top: 50px;
	margin-bottom: 25px;
	background: #6600cc;
	height: 100px;
	line-height: 100px;
	font-size: 55px;
	border-left: 25px solid #00e600;
	font-weight: 400;
	text-shadow: 5px 2px 4px black;
}
.products {
	height: 420px;
	width:400px;
	background: #6600cc;
	overflow: scroll;
	text-align: left;
	float: left;
	margin-left: -10px;
	color: white;
	border-left: 25px solid #330066;
}
h2 {
	height: 50px;
	width: 400px;
	text-align: center;
	background: #330066;
	color: white;
	line-height: 50px;
	border-left: 25px solid #00e600;
	position: absolute;
	top: 195px;
}
.products ul {
	margin-top: 80px;
}
.products ul li {
	margin: 25px 10px 0px 25px;
}
.form {
	height: 420px;
	width:355px;
	background: #330066;
	float: right;
	color: white;
}
form {
	padding: 10px;
}
h3 {
	width: 355px;
	height: 50px;
	text-align: center;
	background: #6600cc;
	color: white;
	line-height: 50px;
}
form > input {
	height: 30px;
	margin: 5px;
	width: 180px;
}
.form > label {
	margin-top: 10px;
}
.first_inp, .sec_inp, .third_inp {
	float: right;
	margin : 5px 10px 5px 0px;
}
label.address {
	margin: 15px 0px 0px -85px;
	
}
form label {
	float: left;
	margin-left: 10px;
}
.radio {
	height: 200px;
	width: 100%;
	padding-top: 15px;
	margin-top: 25px;
	
}
div.radio div {
	margin-top: 20px;
}
div.radio h4 {
	font-weight: 200;
}
.radio label {
	width: 180px;
	height: 25px;
	background: #6600cc;
	float: left;
	line-height: 25px;
}

.sec_inp{
	margin-left: 24px;
}
.infoL {
	width: 250px;
	margin: 0 auto;
}
button {
	height: 35px;
	background: #8c1aff;
	color: white;
	transition: .5s;
	width: 180px;
	border: 2px solid white;
	margin: 20px auto;
	font-size: 18px;
	
}
button:hover {
	background: #1a0033;
}
.prodList {
	margin-top: 450px;
	width: 100%;
	background: red;
}
.prodList h3 {
	height: 40px;
	background: #330066;
	line-height: 40px;
	font-weight: 700;
	color: white;
	width: 100%;
}
.prodList h4 {
	height: 40px;
	background: #6600cc;
	line-height: 40px;
	font-weight: 400;
	color: white;
	width: 100%;
	border-bottom: 10px solid #330066;
}
.cusDetails {
	background: #e6ccff;
	height: 80px;
	width: 100%;
	padding-top: 20px;
	border-bottom: 2px solid black;
}
.cusDetails p {
	float: left;
	margin-left: 30px;
	display: block;
	width: 100%;
	text-align: left;
}
.prodDetails {
	height: 300px;
	background: white;
	padding-top: 20px;
}
.prodDetails h5 {
	font-weight: 200;
	font-size: 25px;
}