<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>List des Stagiaires</h1>

<br/><br/>
<a href="http://localhost:3131/input">Ajouter un nouveau</a>  
<br/><br/>

<div >
      <table  border="1">
        <tr>
          <th>nom</th>
          <th>prenom</th>
          <th>matricule</th>
        </tr>
        <tr  th:each="s : ${st}">
       
          <td th:text="${s.getNom()}"/>
          <td th:text="${s.getPrenom()}"/>
          <td th:text="${s.getMatricule()}"/>
        </tr>
      
      </table>
    </div>



</body>
</html>