* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    background:  white!important;
    overflow-x: hidden;
    height: 400vh
}


header {
    margin-bottom: 60px !important
}



.avatar {
    background: grey;
    padding: 5px;
    font-weight: bold;
}

.navbar {
    background: #121212 !important;
}


.navbar a {
    color: azure !important;
}


.navbar a:hover {
    background-color: grey !important;
    transition: 1.5s
}


/*  @@@@@@@@@@@@   Fin Header @@@@@@@@@@@@@@@@@@ */


#profession {
    height: auto;
    background: white !important;
    text-align: center;
}


#profession h1{
    line-height: 200px
}




/*  @@@@@@@@@@@@   DEBUT SESSIONS COMPETENCES @@@@@@@@@@@@@@@@@@ */
/*  @@@@@@@@@@@@   DEBUT SESSIONS COMPETENCES @@@@@@@@@@@@@@@@@@ */

#competences{
    background: #dfe6e9;
    height: auto!important;
    padding: 20px
}


#competences .info{
   margin-bottom: 50px
}

#competences h2{
    margin-bottom: 50px
}

#competences img{
    max-width: 50px;
    max-height: 50px;
}

#competences figcaption{
    margin-bottom: 10px
}


.info .progress {
    height: 30px;
    width: 200px;
    background: #e4d7d7;
}


/*  @@@@@@@@@@@@   FIN SESSIONS COMPETENCES @@@@@@@@@@@@@@@@@@ */











   /*  ((((((((@@@@@@ DEBUT SECTION FORMATIONS @@@@@@@@@@)))))))))))))))*/
    /*  ((((((((@@@@@@ DEBUT SECTION FORMATIONS @@@@@@@@@@)))))))))))))))*/
    

#formations{
    background: white;
    height: auto;
    padding: 20px;
}

#formations img{
    max-width: 150px;
    max-height: 150px;
  
}

#formations figcaption{
    margin-bottom: 10px
}

#formations .figure{
    text-align: justify
}



#formations a{
    text-decoration: none;
    font-size: 18px;
}


 /*  ((((((((@@@@@@ FIN SECTION FORMATIONS @@@@@@@@@@)))))))))))))))*/
  /*  ((((((((@@@@@@ FIN SECTION FORMATIONS @@@@@@@@@@)))))))))))))))*/









   /*  ((((((((@@@@@@ DEBUT SECTION FORMATIONS @@@@@@@@@@)))))))))))))))*/
    /*  ((((((((@@@@@@ DEBUT SECTION FORMATIONS @@@@@@@@@@)))))))))))))))*/

#experience_pro{
    background: #dfe6e9!important;
    height: auto;
    padding: 20px;
}

#experience_pro img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 150px!important
}


#experience_pro figcaption{
    margin-bottom: 10px
}

#experience_pro .figure{
    text-align: justify;
}


#experience_pro a{
    text-decoration: none;
    font-size: 18px;
}


 /*  ((((((((@@@@@@ FIN SECTION EXPERIENCES_PRO @@@@@@@@@@)))))))))))))))*/
  /*  ((((((((@@@@@@ FIN SECTION EXPERIENCES_PRO @@@@@@@@@@)))))))))))))))*/






#experience_div{
    height: auto;
    padding: 20px;
    background: white
}

#experience_div .info1 img{
    max-width: 150px;
    max-height: 150px;
}

#experience_div #photos img{
    max-height: 300px;
    max-width: 300px;
}


#experience_div #hack img{
    max-height: 400px;
    max-width: 400px;
}


#experience_div figcaption{
    margin-bottom: 10px
}

#experience_div .figure{
    text-align: justify;
}


#experience_div a{
    text-decoration: none;
    font-size: 18px;
}


 /*  ((((((((@@@@@@ FIN SECTION EXPERIENCES_DIVERSES @@@@@@@@@@)))))))))))))))*/
  /*  ((((((((@@@@@@ FIN SECTION EXPERIENCES_DIVERSES @@@@@@@@@@)))))))))))))))*/








#langues{
  background: white ;
  padding: 20px;
  height: auto; 
}


#langues img{
    max-width: 150px;
    max-height: 150px;
}


#langues figcaption{
    margin-bottom: 10px
}

#langues .figure{
    text-align: justify;
}





 /*  ((((((((@@@@@@ FIN SECTION LANGUES PARLEES @@@@@@@@@@)))))))))))))))*/
  /*  ((((((((@@@@@@ FIN SECTION LANGUES PARLEES @@@@@@@@@@)))))))))))))))*/



#loisirs{
    background: #aaa69d
}




.mesSections{
    height: auto;
    text-align: center;
}




.paralax {
    width: 100%;
    height: 30px;
    background-image: url("https://images5.alphacoders.com/430/430918.jpg");
    background-attachment: fixed;
}

.paralax2 {
    width: 100%;
    height: 30px;
    background-image: url("../images/7.jpeg");
    background-attachment: fixed;
}






/* Selecteur pour le footer de la page */
footer {
    font-size: 16px;
}

.footer-distributed {
    background-color: #121212;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    padding: 55px 50px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;

    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}


.footer-center {

    margin-top: 55px;

}


.footer-right {
    margin-top: 55px;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    font-size: 25px;
}

.footer-distributed .footer-center i.fa-envelope {

    line-height: 35px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
    font-size: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}


/* Selecteur pour le footer de la page */


















#infoSection {
    height: 300px;
    border-top: 2px solid black;
}


#articleGauche {
   
    padding-left: 40px;
    padding-top: 10px;
    background: #FEFEE2
}



#articleGauche i {
    font-size: 18px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    background: black;
    color: white;
}


#articleGauche span {
    margin-left: 10px;
    font-size: 20px;
}

#articleGauche a {
    text-decoration: none
}



#articleGauche img {
    max-width: 50px;
    max-height: 50px;
}


#articleGauche h2 {
    text-decoration: underline;
    margin-bottom: 30px;
}






#articleDroit #formations {
    background: grey;
    text-align: justify
}



#articleDroit h2{
text-align: center
}


#experiences_pro{
    background: white;
    text-align: justify
}




.navbar-light .navbar-toggler {
    background: grey !important
}