<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Testmaven</servlet-name>
  	<display-name>Testmaven</display-name>
  	<description></description>
  	<servlet-class>test.maven.Testmaven</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Servletcartoon</servlet-name>
  	<display-name>Servletcartoon</display-name>
  	<description></description>
  	<servlet-class>test.maven.Servletcartoon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Testmaven</servlet-name>
  	<url-pattern>/Testmaven</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Servletcartoon</servlet-name>
  	<url-pattern>/Servletcartoon</url-pattern>
  </servlet-mapping>
  

</web-app>
