<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Mon Application !</title>
</head>
<body>
<style>
table, th, td {
  border: 1px solid black;
}
table, h2 {
margin: auto;
text-align: center;
}

</style>

<h2>Person List</h2>
 <table>
  <tr>
    <th>First Name</th>
    <th>Last Name </th>
  </tr>
  <tr>
   <td th:object="${P1}" th:text="${p1.firstName}"></td>
      <td th:object="${P1}" th:text="${p1.lastName}"></td>
  </tr>
   <tr>
   <td th:object="${P2}" th:text="${p2.firstName}"></td>
      <td th:object="${P2}" th:text="${p2.lastName}"></td>
  </tr>
 
 </table>

</body>
</html>